services:
  n8n:
    image: ghcr.io/n8n-io/n8n:latest
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./data:/home/node/.n8n
    command: n8n start --tunnel --host 0.0.0.0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    environment:
      - N8N_HOST=0.0.0.0
      - N8N_PORT=8080
      - PGHOST='ep-fancy-bonus-aiw1nc2t-pooler.c-4.us-east-1.aws.neon.tech'
      - PGDATABASE='neondb'
      - PGUSER='neondb_owner'
      - PGPASSWORD='npg_0l8qeWpaHwQs'
      - PGSSLMODE='require'
      - PGCHANNELBINDING='require'
      - PGPORT='5432'
      - DB_TYPE=postgresdb
